{{!-- <form action="/add-candidato" method="POST">


    <Label>Nome</Label>
    <input type="text" name="nome"> <br><br>
    <Label>Cargo Desejado</Label>
    <input type="text" name="profissao"> <br><br>


    <Label>Endereço</Label>
    <input type="text" name="endereco"> <br><br>

    <button type="submit">Cadastrar</button>
    
</form> --}}
<form action="/add-candidato" method="POST">
<section class="sessao-formulario" id="cadastro">
                        </div>
                        <div class="formulario-wrapper">
                            <form action="">
                                <fieldset>
                        <div class="sessao-header">
                         <h1> Formulario de Cadastro </h1>
                                    <div class="inputBox">
                                        <label for="nome" class="labelInput"> Nome Completo </label>
                                        <input type="text" name="nome" id="nome" class="inputuser" required>
                                        <label for="profissao" class="labelInput"> Cargo Pretendido </label>
                                        <input type="text" name="profissao" id="profissao" class="inputuser" required>
                                        <br><br>
                                    </div>   
                                    
                                    <div class="inputbox">
                                        <label for="data_nasc"> Data de Nascimento </label>
                                        <input type="date" name="data_nasc" id="data_nasc" required>

                                        <label for="sexo"> Sexo </label>
                                        <input type="text" name="sexo" id="sexo" required>
                                        </select>
                                        <br><br>                                   
                                        <label for="estado_civil"> Estado Civil </label>
                                        <input type="text" name="estado_civil" id="estado_civil" required>
                                            <br><br>                                 
                                    </div>

                                    <div class="inputBox">
                                        <label for="cep" class="labelInput"> CEP </label>
                                        <input type="text" name="cep" id="cep" class="inputuser" required>
                                        <label for="endereco" class="labelInput"> Endereço </label>
                                        <input type="text" name="endereco" id="endereco" class="inputuser" required>  
                                        <label for="numero" class="labelInput"> Numero </label> 
                                        <input type="text" name="numero" id="numero" class="inputuser" required>
                                        <br><br>
                                        <label for="bairro" class="labelInput"> Bairro </label>
                                        <input type="text" name="bairro" id="bairro" class="inputuser" required>

                                        <label for="cidade" class="labelInput"> Cidade </label>
                                        <input type="text" name="cidade" id="cidade" class="inputuser" required>
                                
                                        <label for="estado" class="labelInput"> Estado </label>
                                        <input type="text" name="estado" id="estado" class="inputuser" required>
                                     
                                        <br><br>
                                        
                                    </div>
                                    <div>
                                        <div class="inputBox">
                                            <label for="telefone" class="labelInput"> Telefone Fixo </label>
                                            <input type="tel" name="telefone" id="telefone" class="inputuser" required>
                                            <label for="celular" class="labelInput"> Celular </label>
                                            <input type="tel" name="celular" id="celular" class="inputuser" required>
                                            <label for="recado" class="labelInput"> Recado </label>                       
                                            <input type="tel" name="recado" id="recado" class="inputuser" required>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="email" class="labelInput"> E-mail </label>
                                        <input type="text" name="email" id="email" class="inputuser" required>
                                    </div>

                                    <br><br>
                                    <legend> <b> DOCUMENTOS  </b></legend> <br>
                                    <div>
                                        <label for="rg"> RG </label>
                                        <input type="text" name="rg" id="rg" class="inputuser" required>
                                            <label for="cpf"> CPF </label>
                                            <input type="text" name="cpf" id="cpf" class="inputuser" required>
                                            <br><br>
                                    </div>
                                    <label for="veiculo"> Possui Veículo </label>
                                    <input type="text" name="veiculo" id="veiculo" class="inputuser" required>                                                                       
                                            <label for="habilitacao"> Habilitação </label>
                                            <input type="text" name="habilitacao" id="habilitacao" class="inputuser" required>
                                            <br><br><br>
                                            <div>
                                                <button type="submit">Cadastrar</button>
                                            </div>      
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            </form>
 
                            